<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.model.dao.UserDao">
    <select id="selectOne" parameterType="Map" resultType="com.example.demo.model.dto.User">
        SELECT 
            user_id AS userId, 
            username, 
            weight, 
            height, 
            age, 
            gender, 
            goal_calories AS goalCalories
        FROM 
            users
        WHERE 
            user_id = #{userId} AND user_pw = #{password}
    </select>
	
	<select id="selectAll" resultType="User">
		SELECT *
		FROM users 
	</select>
	
    <select id="getUserById" parameterType="String" resultType="com.example.demo.model.dto.User">
        SELECT 
            user_id AS userId, 
            username, 
            weight, 
            height, 
            age, 
            gender, 
            goal_calories AS goalCalories
        FROM 
            users
        WHERE 
            user_id = #{id}
    </select>
	
	
<insert id="insertUser" parameterType="User">
    INSERT INTO users 
    (user_id, user_pw, username, weight, height, age, gender, goal_calories)
    VALUES 
    (#{userId}, #{password}, #{username}, #{weight}, #{height}, #{age}, #{gender}, #{goalCalories});
</insert>

<update id="updateUser" parameterType="User">
    UPDATE users
    SET 
	    username = #{username}, 
	    weight = #{weight}, 
	    height = #{height}, 
	    age = #{age}, 
	    gender = #{gender}, 
	    goal_calories = #{goalCalories}
    WHERE user_id = #{userId}
</update>

    <!-- 코인 업데이트 -->
    <update id="updateUserCoins">
        UPDATE users
        SET coin = coin + #{coins}
        WHERE user_id = #{userId}
    </update>




</mapper>